








<div class="main-content">

      <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-10 col-xl-8">
            
            <!-- Header -->
            <div class="header mt-md-5">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">
                    
                    <!-- Pretitle -->
                    <h6 class="header-pretitle">
                      Overview
                    </h6>

                    <!-- Title -->
                    <h1 class="header-title">
                      Settings
                    </h1>

                  </div>
                </div> <!-- / .row -->
                <div class="row align-items-center">
                  <div class="col">
                    
                    <!-- Nav -->
                    <ul class="nav nav-tabs nav-overflow header-tabs">
                      <li class="nav-item">
                        <a href="#!" class="nav-link active">
                          General
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="#!" class="nav-link">
                          Profile
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="#!" class="nav-link">
                          Billing
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="#!" class="nav-link">
                          Notifications
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>

            <!-- Form -->
           
             <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'mb-4', html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

              <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Name</label>
                    <%= f.text_field :fullname, autofocus: true, autocomplete: "fullname", class: 'form-control' %>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Email</label>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
                  </div>
                </div>
              </div>
                <div class="row">
                <div class="col-12 col-md-6">
                  <div class="form-group">
                    <label>Company</label>
                    <%= f.text_field :company, autofocus: true, autocomplete: "company", class: 'form-control' %>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Last name -->
                  <div class="form-group">

                    <!-- Label -->
                    <label>
                      Department
                      
                    </label>

                    <!-- Input -->
                  
                    <%= f.text_field :department, autofocus: true, autocomplete: "department", class: 'form-control' %>
                    
                  </div>

                </div>

                
                <div class="col-12 col-md-6">
                  
                  <!-- Phone -->
                  <div class="form-group">

                    <!-- Label -->
                    <label>
                      Job Title
                    </label>

                    <!-- Input -->
                    <%= f.text_field :jobtitle, autofocus: true, autocomplete: "jobtitle", class: 'form-control' %>

                  </div>

                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Birthday -->
                  <div class="form-group">

                    <!-- Label -->
                    <label>
                      Manager
                    </label>

                    <!-- Input -->
                    <input type="text" class="form-control" value="<%= @user.user.try(:fullname) || 'No Manager' %>" disabled>

                  </div>

                </div>
              </div> <!-- / .row -->

              <!-- Divider -->
              <hr class="mt-4 mb-5">

              <div class="row">
                <div class="col-12 col-md-6">
                  
                  <!-- Public profile -->
                  <div class="form-group">

                    <!-- Label -->
                    <label class="mb-1">
                      Public profile
                    </label>

                    <!-- Form text -->
                    <small class="form-text text-muted">
                      Making your profile public means that anyone on the Dashkit network will be able to find you.
                    </small>

                    <div class="row">
                      <div class="col-auto">
                        
                        <!-- Switch -->
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="switchOne">
                          <label class="custom-control-label" for="switchOne"></label>
                        </div>

                      </div>
                      <div class="col ml-n2">
                        
                        <!-- Help text -->
                        <small class="text-muted">
                          You're currently invisible
                        </small>

                      </div>
                    </div> <!-- / .row -->
                  </div>

                </div>
                <div class="col-12 col-md-6">
                  
                  <!-- Allow for additional Bookings -->
                  <div class="form-group">

                    <!-- Label -->
                    <label class="mb-1">
                      Allow for additional Bookings
                    </label>

                    <!-- Form text -->
                    <small class="form-text text-muted">
                      If you are available for hire outside of the current situation, you can encourage others to hire you.
                    </small>

                    <div class="row">
                      <div class="col-auto">
                        
                        <!-- Switch -->
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="switchTwo">
                          <label class="custom-control-label" for="switchTwo"></label>
                        </div>

                      </div>
                      <div class="col ml-n2">
                        
                        <!-- Help text -->
                        <small class="text-muted">
                          You're currently available
                        </small>

                      </div>
                    </div> <!-- / .row -->
                  </div>

                </div>
              </div> <!-- / .row -->

              <!-- Divider -->
              <hr class="mt-4 mb-5">

              <div class="row">
                <div class="col-12 col-md-6 order-md-2">
                  
                  <!-- Card -->
                  <div class="card bg-light border ml-md-4">
                    <div class="card-body">
                      
                      <p class="mb-2">
                        Password requirements
                      </p>

                      <p class="small text-muted mb-2">
                        To create a new password, you have to meet all of the following requirements:
                      </p>

                      <ul class="small text-muted pl-4 mb-0">
                        <li>
                          Minimum 8 character
                        </li>
                        <li>
                          At least one special character
                        </li>
                        <li>
                          At least one number
                        </li>
                        <li>
                        Can’t be the same as a previous password
                        </li>
                      </ul>

                    </div>
                  </div>

                </div>
                <div class="col-12 col-md-6">

                  <!-- Password -->
                  <div class="form-group">

                    <!-- Label -->
                    <label>
                     Current Password
                    </label>

                    <!-- Input -->
                   
                    <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>

                  </div>

                  <!-- New password -->
                  <div class="form-group">

                    <!-- Label -->
                    <label>
                      New password
                    </label>

                    <!-- Input -->
                  
                    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>

                  </div>

                  <!-- Confirm new password -->
                  <div class="form-group">

                    <!-- Label -->
                    <label>
                      Confirm new password
                    </label>

                    <!-- Input -->
                   
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>

                  </div>

                  <!-- Submit -->
                  <%= f.submit "Update", :class => "btn btn-primary" %>
                 
                  
                </div>
              </div> <!-- / .row -->

            </form>
            <% end %>

          </div>
        </div> <!-- / .row -->
      </div>
      
    </div>