<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.text_field :category %>
  </div>

  <div class="field">
    <%= form.label :itype %>
    <%= form.text_field :itype %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.text_field :priority %>
  </div>

  <div class="field">
    <%= form.label :department %>
    <%= form.text_field :department %>
  </div>

  <div class="field">
    <%= form.label :isprivate %>
    <%= form.check_box :isprivate %>
  </div>

  <div class="field">
    <%= form.label :assignedby_id %>
    <%= form.text_field :assignedby_id %>
  </div>

  <div class="field">
    <%= form.label :openeddate %>
    <%= form.text_field :openeddate %>
  </div>

  <div class="field">
    <%= form.label :closedby_id %>
    <%= form.text_field :closedby_id %>
  </div>

  <div class="field">
    <%= form.label :openedby_id %>
    <%= form.text_field :openedby_id %>
  </div>

  <div class="field">
    <%= form.label :closeddate %>
    <%= form.text_field :closeddate %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.text_field :deadline %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
