<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @option.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @option.email %>
</p>

<p>
  <strong>Url:</strong>
  <%= @option.url %>
</p>

<p>
  <strong>Home:</strong>
  <%= @option.home %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
