<%= simple_form_for(@project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_field :company %>
  </div>


  
  

  <div class="field">
    <label class="label">Project Manager</label>
    <div class="control has-icons-left">
      <span class="select">
       <%= form.input_field :manager_id, collection:@users.map { |u| [u.fullname, u.id] }, prompt: "Select Manager" %>
      </span>
      <span class="icon is-small is-left">
        <i class="fa fa-tag"></i>
      </span>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>