

          <div class="header">

        <!-- Image -->
 
        
        <div class="container-fluid">

          <!-- Body -->
         <div class="header mt-md-5">
              <div class="header-body">
                <div class="row align-items-center">
                  <div class="col">
                    
                    <!-- Pretitle -->
                    <h6 class="header-pretitle">
                      Overview
                    </h6>

                    <!-- Title -->
                    <h1 class="header-title">
                      Projects
                    </h1>

                  </div>
                  <div class="col-auto">
                    
                    <!-- Button -->
                    <a href="#" class="btn btn-primary">
                      New Project
                    </a>
                    
                  </div>
                </div> <!-- / .row -->
                <div class="row align-items-center">
                  <div class="col">
                    
                    <!-- Nav -->
                    <ul class="nav nav-tabs nav-overflow header-tabs">
                      <li class="nav-item">
                        <a href="#!" class="nav-link active">
                          All <span class="badge badge-pill badge-soft-secondary">823</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="#!" class="nav-link">
                          Pending <span class="badge badge-pill badge-soft-secondary">24</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="#!" class="nav-link">
                          Processing <span class="badge badge-pill badge-soft-secondary">3</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a href="#!" class="nav-link">
                          Refunded <span class="badge badge-pill badge-soft-secondary">71</span>
                        </a>
                      </li>
                    </ul>

                  </div>
                </div>
              </div>
            </div>

        </div>
      </div>

      <!-- CONTENT -->
      <div data-toggle="lists" data-lists-values='["name"]'>
        <div class="container-fluid" data-toggle="lists" data-lists-class="listAlias" data-lists-values='["name"]'>
          <div class="row mb-4">
            <div class="col">
              
              <!-- Form -->
              <form>
                <div class="input-group input-group-lg input-group-merge">
                  <input type="text" class="form-control form-control-prepended search" placeholder="Search">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <span class="fe fe-search"></span>
                    </div>
                  </div>
                </div>
              </form>

            </div>
            <div class="col-auto">
              
              <!-- Navigation (button group) -->
              <div class="nav btn-group" role="tablist">
                <button class="btn btn-lg btn-white active" data-toggle="tab" data-target="#tabPaneOne" role="tab" aria-controls="tabPaneOne" aria-selected="true">
                  <span class="fe fe-grid"></span>
                </button>
                <button class="btn btn-lg btn-white" data-toggle="tab" data-target="#tabPaneTwo" role="tab" aria-controls="tabPaneTwo" aria-selected="false">
                  <span class="fe fe-list"></span>
                </button>
              </div> <!-- / .nav -->

            </div>
          </div> <!-- / .row -->

          <!-- Tab content -->
          <div class="tab-content">
            <div class="tab-pane fade active show" id="tabPaneOne" role="tabpanel">
              <div class="row listAlias">


              <% @projects.each do |project| %>
                <div class="col-12 col-md-6 col-xl-4">
                  <!-- Card -->
                  <div class="card">
                    <a href="project-overview.html">
                      <img src="https://dashkit.goodthemes.co/assets/img/avatars/projects/project-1.jpg" alt="..." class="card-img-top">
                    </a>
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col">
                      
                          <!-- Title -->
                          <h4 class="card-title mb-2 name">
                            <a href="project-overview.html"><%= project.name %></a>
                          </h4>

                          <!-- Subtitle -->
                          <p class="card-text small text-muted">
                            <%= project.company %>
                          </p>

                        </div>
                        <div class="col-auto">
                          
                          <!-- Dropdown -->
                          <div class="dropdown">
                            <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a href="#!" class="dropdown-item">
                                Action
                              </a>
                              <a href="#!" class="dropdown-item">
                                Another action
                              </a>
                              <a href="#!" class="dropdown-item">
                                Something else here
                              </a>
                            </div>
                          </div>

                        </div>
                      </div> <!-- / .row -->

                      <!-- Divider -->
                      <hr>

                      <div class="row align-items-center">
                        <div class="col">
                          <div class="row align-items-center no-gutters">
                            <div class="col-auto">

                              <div class="small mr-2">%<%= project.progress %></div>
                              
                            </div>
                            <div class="col">
                              
                              <!-- Progress -->
                              <div class="progress progress-sm">
                                <div class="progress-bar" role="progressbar" style="width: <%= project.progress %>%" aria-valuenow="<%= project.progress %>" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>

                            </div>
                          </div> <!-- / .row -->
                        </div>
                        <div class="col-auto">
                          
                          <!-- Avatar group -->
                          <div class="avatar-group">
                            <a href="#" class="avatar avatar-xs" data-toggle="tooltip" title="<%= project.user.fullname %>">
                              <%= image_tag gravatar_image_url(project.user.email), :class => "avatar-img rounded-circle" %>
                            </a>
                          </div>

                        </div>
                      </div> <!-- / .row -->

                    </div> <!-- / .card-body -->
                  </div>
                </div>
               <% end %>
              </div> <!-- / .row -->
            </div>
            <div class="tab-pane fade" id="tabPaneTwo" role="tabpanel">
              <div class="row list">


              <% @projects.each do |project| %>
                <div class="col-12">

                  <div class="card">
                    <div class="card-body">
                      <div class="row align-items-center">
                        <div class="col-auto">
                          
                          <!-- Avatar -->
                          <a href="project-overview.html" class="avatar avatar-lg avatar-4by3">
                            <img src="https://dashkit.goodthemes.co/assets/img/avatars/projects/project-1.jpg" alt="..." class="avatar-img rounded">
                          </a>

                        </div>
                        <div class="col ml-n2">

                          <!-- Title -->
                          <h4 class="card-title mb-1 name">
                            <a href="project-overview.html"><%= project.name %></a>
                          </h4>

                          <!-- Text -->
                          <p class="card-text small text-muted mb-1">
                            <time datetime="2018-06-21"><%= project.company %></time>
                          </p>

                          <!-- Progress -->
                          <div class="row align-items-center no-gutters">
                            <div class="col-auto">

                              <div class="small mr-2">%<%= project.progress %></div>
                              
                            </div>
                            <div class="col">
                              
                              <!-- Progress -->
                              <div class="progress progress-sm">
                                <div class="progress-bar" role="progressbar" style="width: <%= project.progress %>%" aria-valuenow="<%= project.progress %>" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>

                            </div>
                          </div> <!-- / .row -->
                          
                        </div>
                        <div class="col-auto">
                          
                          <!-- Avatar group -->
                          <div class="avatar-group d-none d-md-inline-flex">
                            <a href="profile-posts.html" class="avatar avatar-xs" data-toggle="tooltip" title="<%= project.user.fullname %>">
                              <%= image_tag gravatar_image_url(project.user.email), :class => "avatar-img rounded-circle" %>
                            </a>
                            
                          </div>

                        </div>
                        <div class="col-auto">
                          
                          <!-- Dropdown -->
                          <div class="dropdown">
                            <a href="#" class="dropdown-ellipses dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fe fe-more-vertical"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a href="#!" class="dropdown-item">
                                Action
                              </a>
                              <a href="#!" class="dropdown-item">
                                Another action
                              </a>
                              <a href="#!" class="dropdown-item">
                                Something else here
                              </a>
                            </div>
                          </div>

                        </div>
                      </div> <!-- / .row -->
                    </div> <!-- / .card-body -->
                  </div>

                </div>
                  <% end %>
              </div> <!-- / .row -->
            </div>
          </div> <!-- / .tab-content -->

        </div>
      </div>