<p id="notice"><%= notice %></p>

<h2>Projects</h2>

<table class="table">
  <thead class="thead-light">
   <tr>
      <th></th>
      <th>Project Name</th>
      <th>Company</th>
      <th>Project Manager</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
    <tr>
        <td>#<%= project.id %></td>
        <td><%= project.name %></td>
        <td><%= project.company %></td>
        <td><%= project.user.try(:fullname) || 'user not defined'  %></td>
        <td>
        
        <div class="item-action dropdown">
          <a href="#" data-toggle="dropdown" class="text-muted"><i class="i-con i-con-more"><i></i></i></a>
          <div class="dropdown-menu dropdown-menu-right bg-dark" role="menu">
              <%= link_to 'Show', project, :class => "dropdown-item" %>
              <%= link_to 'Edit', edit_project_path(project), :class => "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "dropdown-item" %>
          </div>
        </div>

</td>
        
    </tr>
    <% end %>
  </tbody>
</table>




