<!doctype html>
<html lang="en">
  
<!-- Mirrored from dashkit.goodthemes.co/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 03 Mar 2019 08:13:40 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
  <head>
    <title> Login - ProjectApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Libs CSS -->
    <%= stylesheet_link_tag "fonts/feather/feather.min.css" %>
    <%= stylesheet_link_tag "libs/highlight.js/styles/vs2015.css" %>
    <%= stylesheet_link_tag "libs/quill/dist/quill.core.css" %>
    <%= stylesheet_link_tag "libs/select2/dist/css/select2.min.css" %>
    <%= stylesheet_link_tag "libs/flatpickr/dist/flatpickr.min.css" %>

    <!-- Theme CSS -->
    <%= stylesheet_link_tag "css/theme.min.css", :id => "stylesheetLight"  %>

    <%= stylesheet_link_tag "css/theme-dark.min.css", :id => "stylesheetDark" %>

    <style>body { display: none; }</style>


  </head>
   <body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">

    <!-- CONTENT
    ================================================== -->
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">

          <!-- Image -->
          <div class="text-center">
            <img src="https://dashkit.goodthemes.co/assets/img/illustrations/happiness.svg" alt="..." class="img-fluid">
          </div>

        </div>
        <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">
          
          <!-- Heading -->
          <h1 class="display-4 text-center mb-3">
            Sign up
          </h1>
          
          <!-- Subheading -->
          <p class="text-muted text-center mb-5">
            Free access to our dashboard.
          </p>

          <!-- Form -->
            <%= render :partial => "devise/sessions/new" %>

        </div>
      </div> <!-- / .row -->
    </div> <!-- / .container -->


    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
   <%= javascript_include_tag "libs/jquery/dist/jquery.min.js" %>
    <%= javascript_include_tag "libs/bootstrap/dist/js/bootstrap.bundle.min.js" %>
    <%= javascript_include_tag "libs/chart.js/dist/Chart.min.js" %>
    <%= javascript_include_tag "libs/chart.js/Chart.extension.min.js" %>
    <%= javascript_include_tag "libs/highlightjs/highlight.pack.min.js" %>
    <%= javascript_include_tag "libs/flatpickr/dist/flatpickr.min.js" %>
    <%= javascript_include_tag "libs/jquery-mask-plugin/dist/jquery.mask.min.js" %>
    <%= javascript_include_tag "libs/list.js/dist/list.min.js" %>
    <%= javascript_include_tag "libs/quill/dist/quill.min.js" %>
    <%= javascript_include_tag "libs/dropzone/dist/min/dropzone.min.js" %>
    <%= javascript_include_tag "libs/select2/dist/js/select2.min.js" %>

    <!-- Theme JS -->
    
   <%= javascript_include_tag "js/theme.min.js" %>

  </body>

<!-- Mirrored from dashkit.goodthemes.co/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 03 Mar 2019 08:13:40 GMT -->
</html>